input[type=text]{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
input{
    width: 300px;
    padding: 13px 0;
}
input[type=submit]{
    width: 185px;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
    font-size: 14px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    background-color: #f8f9fa;
    color:#3c4043;
    cursor: pointer;
}
input[type=submit]:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
input:focus {
  outline: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#adv_bar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
#adv_border{
    border-bottom: 1px solid #ebebeb;
}
#adv_search_btn{
    text-align: center;
    background-color: #3079ed;
    color: white;
    font-weight: bold;
    font-size: 11px;
    padding: 0 12px;
    border: 1px;
    border-radius: 2px;
    float: right;
    margin: 10px;
    height: 30px;
    min-width: 120px;
}
.top_bar{
    display: flex;
    justify-content: flex-end;
}
.top_link{
    text-align: right;
    font-size: 13px;
    text-decoration: none;
    padding: 15px;
}
.top_link a:link, a:hover, a:visited, a:active{
    color: #1f1f1f;
    text-decoration: none;
}
.search_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_content .search_field{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #afafaf;
    margin: 10px;
    padding-left: 15px;
}
.search_content .search_field input{
    border: none;
    border-radius: 25px;
    min-height: 44px;
    font-size: 14px;
    width: 600px;
    max-width: 584px;
    align-content: center;
}

.adv_search_container{
    margin: 50px 40px;
}
.adv_search_container label{
    display: inline-block;
    width: 16%;
    font-size: 16px;
    font-weight: 500;
}
.adv_search_container .whitespace{
    display: inline-block;
    width: 50%;
}
.adv_search_container .search_forms{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}
.adv_search_container .search_forms label{
    width: 16%;
    font-size: 14px;
}
.adv_search_container span{
    width: 16%;
    font-size: 14px;
    font-weight: 700;
    color: #777;
}
.adv_search_container .search_forms input[type=text]{
    width: 49%;
    padding: 2px 0;
    padding-left: 10px;
}
.adv_search_container .search_forms .search_examples{
    font-size: 11px;
    width: 30%;
    margin-left: 1%;
    color: #555;
}
.adv_search_container .search_forms .search_examples .monospace{
    font-family: monospace;
    font-weight: 100;
    font-size: 11px;
}
.adv_search_container .search_forms .adv_btn{
    width: 50%;
}